@import "../../abstracts/mixins";
@import "../../abstracts/variables";
.section__about {
  background-image: linear-gradient(
      rgba($color-white, 0.9),
      rgba($color-white, 0.9)
    ),
    url("../../img/arewaLogo.png");

  @include respond(tab-land) {
    background-size: 30rem;
    padding: 2rem 0;
    background-position: center;
  }
  @include respond(tab-port) {
    padding: 5rem 0;
    background-position: center;
  }
  @include respond(phone) {
    background-size: 20rem;
    padding: 2rem 0;
    background-position: center;
  }
  @include respond(small-phone) {
    background-size: 15rem;
    padding: 2rem 0;
    background-position: center;
  }
  &__ourMission {
    @include respond(phone) {
      display: none;
    }
  }
}
